[submodule "MikuEngine/vendor/glfw"]
	path = MikuEngine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "MikuEngine/vendor/spdlog"]
	path = MikuEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
