[submodule "MikuEngine/vendor/glfw"]
	path = MikuEngine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "MikuEngine/vendor/spdlog"]
	path = MikuEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "MikuEngine/vendor/imgui"]
	path = MikuEngine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "MikuEngine/vendor/glm"]
	path = MikuEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "MikuEngine/vendor/entt"]
	path = MikuEngine/vendor/entt
	url = https://github.com/skypjack/entt.git
